In [4]:
import pandas as pd
import numpy as np

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mharvnek/nba-team-stats-00-to-18")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mharvnek/nba-team-stats-00-to-18?dataset_version_number=5...

100%|██████████| 55.8k/55.8k [00:00<00:00, 873kB/s]

Extracting files...
Path to dataset files: /Users/adri/.cache/kagglehub/datasets/mharvnek/nba-team-stats-00-to-18/versions/5

In [7]:
import os

# List all files in the downloaded path
print(os.listdir(path))

# Example: load a CSV (adjust filename if needed)
df = pd.read_csv(os.path.join(path, "nba_team_stats_00_to_23.csv"))
df.head()

['nba_team_stats_playoffs_00_to_21.csv', 'nba_team_stats_00_to_23.csv']

,teamstatspk,Team,games_played,wins,losses,win_percentage,Min,points,field_goals_made,field_goals_attempted,...,rebounds,assists,turnovers,steals,blocks,blocks_attempted,personal_fouls,personal_fouls_drawn,plus_minus,season
0,0,Boston Celtics,82,64,18,0.780,3966,9887,3601,7396,...,3799,2207,979,557,538,304,1326,1416,930,2023-24
1,1,Denver Nuggets,82,57,25,0.695,3941,9418,3610,7279,...,3643,2415,1036,585,456,394,1489,1467,431,2023-24
2,2,Oklahoma City Thunder,82,57,25,0.695,3961,9847,3653,7324,...,3447,2223,1039,694,538,419,1545,1548,608,2023-24
3,3,Minnesota Timberwolves,82,56,26,0.683,3961,9264,3383,6974,...,3577,2184,1162,647,497,371,1544,1630,529,2023-24
4,4,LA Clippers,82,51,31,0.622,3941,9481,3473,7108,...,3523,2097,1078,640,413,384,1519,1537,269,2023-24

In [8]:
df.columns

Index(['teamstatspk', 'Team', 'games_played', 'wins', 'losses',
       'win_percentage', 'Min', 'points', 'field_goals_made',
       'field_goals_attempted', 'field_goal_percentage', 'three_pointers_made',
       'three_pointers_attempted', 'three_point_percentage',
       'free_throws_made', 'free_throw_attempted', 'free_throw_percentage',
       'offensive_rebounds', 'defensive_rebounds', 'rebounds', 'assists',
       'turnovers', 'steals', 'blocks', 'blocks_attempted', 'personal_fouls',
       'personal_fouls_drawn', 'plus_minus', 'season'],
      dtype='object')