In [3]:
import pandas as pd
import numpy as np
import sqlite3

In [7]:
# Connect!

conn = sqlite3.connect('data/nba.sqlite')

In [8]:
games = pd.read_sql("SELECT * FROM game", conn)
teams = pd.read_sql("SELECT * FROM team", conn)
# team_stats = pd.read_sql("SELECT * FROM team_stats", conn)

In [9]:
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print([t[0] for t in tables])

['game', 'game_summary', 'other_stats', 'officials', 'inactive_players', 'game_info', 'line_score', 'play_by_play', 'player', 'team', 'common_player_info', 'team_details', 'team_history', 'draft_combine_stats', 'draft_history', 'team_info_common']

In [10]:
other = pd.read_sql("SELECT * FROM team_info_common", conn)
other.head()
# other.columns

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

[0 rows x 26 columns]

In [11]:
other.iloc[-3:, :].head()

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

[0 rows x 26 columns]

In [12]:
games.iloc[-1, :]

season_id                               32022
team_id_home                       1610616834
team_abbreviation_home                    LBN
team_name_home                    Team LeBron
game_id                            0032200001
game_date                 2023-02-19 00:00:00
matchup_home                      LBN vs. GNS
wl_home                                     L
min                                       221
fgm_home                                 79.0
fga_home                                132.0
fg_pct_home                             0.598
fg3m_home                                17.0
fg3a_home                                60.0
fg3_pct_home                            0.283
ftm_home                                  0.0
fta_home                                  0.0
ft_pct_home                               NaN
oreb_home                                13.0
dreb_home                                32.0
reb_home                                 45.0
ast_home                                 49.0
stl_home                                  7.0
blk_home                                  2.0
tov_home                                 10.0
pf_home                                   5.0
pts_home                                175.0
plus_minus_home                            -9
video_available_home                        1
team_id_away                       1610616833
team_abbreviation_away                    GNS
team_name_away                   Team Giannis
matchup_away                        GNS @ LBN
wl_away                                     W
fgm_away                                 76.0
fga_away                                123.0
fg_pct_away                             0.618
fg3m_away                                29.0
fg3a_away                                66.0
fg3_pct_away                            0.439
ftm_away                                  3.0
fta_away                                  4.0
ft_pct_away                              0.75
oreb_away                                10.0
dreb_away                                36.0
reb_away                                 46.0
ast_away                                 43.0
stl_away                                  8.0
blk_away                                  1.0
tov_away                                 12.0
pf_away                                   2.0
pts_away                                184.0
plus_minus_away                             9
video_available_away                        1
season_type                          All Star
Name: 65697, dtype: object

In [13]:
elo = pd.read_csv('data/nbaallelo.csv')
elo_latest = pd.read_csv('data/nba_elo_latest.csv')

In [14]:
elo_latest.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1', 'carm-elo_prob2',
       'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre',
       'raptor_prob1', 'raptor_prob2', 'score1', 'score2'],
      dtype='object')

In [15]:
len(games)*2

131396

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,carm-elo_prob1,carm-elo_prob2,carm-elo1_post,carm-elo2_post,raptor1_pre,raptor2_pre,raptor_prob1,raptor_prob2,score1,score2
1060,2021-05-14,2021,0,NaN,SAS,PHO,1503.623722,1625.602442,0.468412,0.531588,...,NaN,NaN,NaN,NaN,1499.669107,1637.475266,0.404277,0.595723,NaN,NaN
1061,2021-05-14,2021,0,NaN,BRK,CHI,1595.629194,1450.432204,0.803997,0.196003,...,NaN,NaN,NaN,NaN,1659.292007,1463.632907,0.860311,0.139689,NaN,NaN
1062,2021-05-14,2021,0,NaN,NYK,CHO,1566.601444,1487.295602,0.737336,0.262664,...,NaN,NaN,NaN,NaN,1460.153685,1460.073012,0.603270,0.396730,NaN,NaN
1063,2021-05-14,2021,0,NaN,IND,LAL,1486.163680,1594.273152,0.488332,0.511668,...,NaN,NaN,NaN,NaN,1505.776031,1660.798178,0.340737,0.659263,NaN,NaN
1064,2021-05-14,2021,0,NaN,MIL,MIA,1607.473281,1515.394150,0.751326,0.248674,...,NaN,NaN,NaN,NaN,1625.594942,1580.469986,0.673631,0.326369,NaN,NaN
1065,2021-05-15,2021,0,NaN,ATL,HOU,1558.556856,1313.974148,0.879062,0.120938,...,NaN,NaN,NaN,NaN,1559.273701,1366.148342,0.864531,0.135469,NaN,NaN
1066,2021-05-15,2021,0,NaN,DET,MIA,1399.696409,1515.394150,0.477424,0.522576,...,NaN,NaN,NaN,NaN,1382.557252,1580.469986,0.335648,0.664352,NaN,NaN
1067,2021-05-15,2021,0,NaN,BRK,CLE,1595.629194,1377.078927,0.862205,0.137795,...,NaN,NaN,NaN,NaN,1659.292007,1363.291971,0.892017,0.107983,NaN,NaN
1068,2021-05-15,2021,0,NaN,PHI,ORL,1628.147322,1331.629879,0.907420,0.092580,...,NaN,NaN,NaN,NaN,1660.743290,1367.906551,0.889407,0.110593,NaN,NaN
1069,2021-05-15,2021,0,NaN,NOP,LAL,1463.453858,1594.273152,0.455763,0.544237,...,NaN,NaN,NaN,NaN,1528.349213,1660.798178,0.399766,0.600234,NaN,NaN
1070,2021-05-15,2021,0,NaN,MIN,DAL,1342.679256,1539.261259,0.364480,0.635520,...,NaN,NaN,NaN,NaN,1411.510940,1576.655768,0.382611,0.617389,NaN,NaN
1071,2021-05-15,2021,0,NaN,SAS,PHO,1503.623722,1625.602442,0.468412,0.531588,...,NaN,NaN,NaN,NaN,1499.669107,1637.475266,0.410486,0.589514,NaN,NaN
1072,2021-05-15,2021,0,NaN,OKC,LAC,1284.868915,1657.505720,0.172299,0.827701,...,NaN,NaN,NaN,NaN,1354.961274,1693.876292,0.186018,0.813982,NaN,NaN
1073,2021-05-15,2021,0,NaN,CHI,MIL,1450.432204,1607.473281,0.418641,0.581359,...,NaN,NaN,NaN,NaN,1463.632907,1625.594942,0.371494,0.628506,NaN,NaN
1074,2021-05-15,2021,0,NaN,WAS,CHO,1447.301244,1487.295602,0.585507,0.414493,...,NaN,NaN,NaN,NaN,1450.070057,1460.073012,0.586627,0.413373,NaN,NaN
1075,2021-05-15,2021,0,NaN,TOR,IND,1480.317276,1486.163680,0.632276,0.367724,...,NaN,NaN,NaN,NaN,1558.669644,1505.776031,0.665779,0.334221,NaN,NaN
1076,2021-05-15,2021,0,NaN,SAC,UTA,1403.606650,1686.453966,0.258735,0.741265,...,NaN,NaN,NaN,NaN,1455.191480,1691.902173,0.273447,0.726553,NaN,NaN
1077,2021-05-15,2021,0,NaN,POR,DEN,1495.857168,1627.860280,0.454074,0.545926,...,NaN,NaN,NaN,NaN,1587.240642,1634.424245,0.605953,0.394047,NaN,NaN
1078,2021-05-15,2021,0,NaN,NYK,BOS,1566.601444,1566.815326,0.639781,0.360219,...,NaN,NaN,NaN,NaN,1460.153685,1598.695737,0.410511,0.589489,NaN,NaN
1079,2021-05-15,2021,0,NaN,GSW,MEM,1514.244357,1595.740942,0.526603,0.473397,...,NaN,NaN,NaN,NaN,1530.147793,1530.617613,0.613097,0.386903,NaN,NaN

In [26]:
len(elo_latest)

1080