In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
# Connect!

conn = sqlite3.connect('nba.sqlite')

In [5]:
games = pd.read_sql("SELECT * FROM game", conn)
teams = pd.read_sql("SELECT * FROM team", conn)
# team_stats = pd.read_sql("SELECT * FROM team_stats", conn)

In [10]:
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print([t[0] for t in tables])

['game', 'game_summary', 'other_stats', 'officials', 'inactive_players', 'game_info', 'line_score', 'play_by_play', 'player', 'team', 'common_player_info', 'team_details', 'team_history', 'draft_combine_stats', 'draft_history', 'team_info_common']

In [ ]:
other = pd.read_sql("SELECT * FROM other_stats", conn)

In [ ]:
# I have data until All-Star game 2023. Good.

games.iloc[-1 :]

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
65697,32022,1610616834,LBN,Team LeBron,0032200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,...,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All Star